
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}



#counter {
    width: 400px;
    height: 400px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 50px;
    border-radius: 50%;
}


#plus {
    width: 150px;
    height: 40px;
    transition: 0.5s ease-out;
}



#plus:hover {
    border-radius: 10px;
    background-color: green;
}

#minus {
    width: 150px;
    height: 40px;
    transition: 0.5s ease-out;
}


#minus:hover {
    border-radius: 10px;
    background-color: red;
}


#buttons {
    margin-top: 20px;
}




